Makefile
config.h
config.log
config.status
lib/.deps/
lib/.libs/
lib/Makefile
lib/lbfgs.lo
lib/liblbfgs.la
libtool
libxx/liblbfgs.a
libxx/liblbfgs.la
libxx/test_lbfgsxx
sample/.deps/
sample/.libs/
sample/Makefile
sample/sample
stamp-h1

